.mainbody {
  background-color: white;
  margin-left: 16rem;
  margin-right: 16rem;
}

.mainbody_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.mainbody_top_left {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 4rem;
}

.mainbody_top_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainbody_top_center {
  font-size: 1rem;
  margin-right: 16rem;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  padding: 3px 5px;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.mainbody_docs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1.25rem;
}

.doc_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 12.5rem;
  margin-right: 1.25rem;
}

.doc_card:hover {
  border: 1px solid #6e2594;
}

.doc_image {
  box-sizing: border-box;
  height: 9.5rem;
  width: 12.5rem;
}
